.list {
  list-style: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main {
  margin: 5px auto;
  padding: 30px;
  border-radius: 3px;
  width: 800px;
  box-shadow: 5px 5px 15px rgba(0, 0, 75, 0.5);
  color:rgba(0, 0, 75, 0.5)
}

.title {
  text-align: center;
}